[submodule "dddmr_docker"]
	path = dddmr_docker
	url = https://github.com/dddmobilerobot/dddmr_docker.git
[submodule "src/dddmr_rviz_tools"]
	path = src/dddmr_rviz_tools
	url = https://github.com/dddmobilerobot/dddmr_rviz_tools.git
[submodule "src/dddmr_lego_loam_bor"]
	path = src/dddmr_lego_loam_bor
	url = https://github.com/dddmobilerobot/dddmr_lego_loam_bor.git
[submodule "src/dddmr_mcl_3dl"]
	path = src/dddmr_mcl_3dl
	url = https://github.com/dddmobilerobot/dddmr_mcl_3dl.git
[submodule "src/dddmr_sys_core"]
	path = src/dddmr_sys_core
	url = https://github.com/dddmobilerobot/dddmr_sys_core.git
